<h1>Choose a report</h1>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <%= link_to "Age Distribution", age_distribution_report_path, class: "btn btn-block" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <%= link_to "Age Change", age_change_report_path, class: "btn btn-block" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <%= link_to "Gender Age Distribution", sex_compare_report_path, class: "btn btn-block" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <%= link_to "TBD", "", class: "btn btn-block" %>
    </div>
  </div>
</div>
